<h1>
    <%= item.title %>
</h1>
<form action="<%= item.id ? `save/${item.id}` : " save" %>" method="post" class="product-edit-form">
    <div class="product-edit-fields">
        <div class="field">
            <label for="item-title">Название:</label>
            <input id="item-title" type="text" name="title" value="<%= item.title %>" />
        </div>

        <div class="field">
            <label for="item-description">Описание:</label>
            <textarea id="item-description" rows="3" name="description"><%= item.description %></textarea>
        </div>

        <div class="field">
            <label for="item-price">Цена:</label>
            <input id="item-price" type="text" name="price" value="<%= item.price %>" />
        </div>

        <% if (item.id) { %>
            <div class="field">
                <label for="item-new-images">URL новых изображений (используйте перенос строки или запятую):</label>
                <textarea id="item-new-images" rows="3" name="newImages"></textarea>
            </div>
            <% } %>
    </div>

    <% if (item.comments?.length) { %>
        <h2>Комментарии</h2>
        <div class="product-edit-comments">
            <% item.comments.forEach(function(comment) { %>
                <%- include('product-comment', { comment: comment }) %>
                    <% }); %>
        </div>
        <% } %>

            <% if (item.images?.length) { %>
                <h2>Изображения</h2>
                <div class="product-edit-images">
                    <% item.images.forEach(function(image) { %>
                        <%- include('product-image', { image: image }) %>
                            <% }); %>
                </div>
                <% } %>

                    <% if (similarProducts?.length) { %>
                        <h2>Похожие товары</h2>
                        <div class="product-edit-similar">
                            <% similarProducts.forEach(function(similarProduct) { %>
                                <%- include('product-similar', { item: similarProduct }) %>
                                    <% }); %>
                        </div>
                        <% } %>

                            <% if (notSimilarProducts?.length) { %>
                                <h2>Другие товары</h2>

                                <div>
                                    <label for="similarToAdd">Добавить похожие товары:</label>
                                </div>

                                <select name="similarToAdd" id="similarToAdd" class="not-similar-selector" multiple>
                                    <% notSimilarProducts.forEach(function(notSimilarItem) { %>
                                        <option value="<%= notSimilarItem.id %>">
                                            <%= notSimilarItem.title %>
                                        </option>
                                        <% }); %>
                                </select>
                                <% } %>


                                    <div class="product-edit-footer">
                                        <button type="submit">Сохранить изменения</button>

                                        <% if (item.id) { %>
                                            <a href="<%= `remove-product/${item.id}` %>">Удалить товар</a>
                                            <% } %>
                                    </div>
</form>